
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Poker 192</title>
  </head>
  <body>
    <div class="container" text-align="center">
        <h1 style="color:dodgerblue">Welcome to Poker 192</h1>
        <br>
    </div>

    <div class="container">
      <h4>a heads-up poker simulator built by Xavier Lee and Jack Herrmann</h4>
    </div>
    <br>
    <div class="container">
        <h1>Load Game</h1>
        <form method="POST" action="/loadgame">
            {% csrf_token %}
            <input name="username" placeholder="username" />
            <br>
            <br>
            <input name="password" placeholder="password" type="password" />
            <br>
            <br>
            <input type="submit" />
        </form>
        {{message}}
        <br>
        <br>

        <h1>New Game</h1>
        <form method="POST" action="/newgame">
            {% csrf_token %}
            <input name="username" placeholder="username" />
            <br>
            <br>
            <input name="password" placeholder="password" type="password" />
            <br>
            <br>
            <input name="email" placeholder="email" />
            <br>
            <br>
            <input name="stack_amount" placeholder="stack amount"/>
            <br>
            <br>
            <input type="submit" />
        </form>
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>